.header{
    height: 55px;
    display: flex;

    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    z-index: 100;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(231, 229, 229);
}

.left-sec{
    display: flex;
    align-items: center;
}

.hamburger-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.middle-sec{
    flex: 1;
    max-width: 458px;
    margin-left: 30px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 36px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 191, 191);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    padding-left: 12px;
    width: 0;
}

.search-bar::placeholder{
    font-size: 16px;
}

.search-button{
    height: 40px;
    width: 64px;
    margin-left: -1px;
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 217, 217);
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.search-icon{
    height: 24px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.voice-search-icon{
    height: 24px;
}

.right-sec{
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    margin-right: 24px;
    flex-shrink: 0;
}

.notification-icon-container{
    position: relative;
}

.upload-icon,
.apps-icon,
.notification-icon{
    height: 24px;
    cursor: pointer;
}

.notification-number {
    position: absolute;

    font-size: 9px;
    padding: 2px 5px;

    background-color: rgb(202, 15, 15);
    color: white;
    border-radius: 10px;
    top: -2px;
    right: -4px;
}


.current-user-profile-pic{
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notification-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.notification-icon-container .tooltip{
    position: absolute;
    bottom: -35px;
    opacity: 0;

    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 13px;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 1;
}