.sidebar{
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    background-color: white;
    padding-top: 5px;
    cursor: pointer;

    z-index: 101;
}

.sidebar-link{
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover{
    background-color: rgb(238, 238, 238);
}

.sidebar-link img{
    height: 24px;
}

.sidebar-link div{
    font-size: 10px;
    margin-top: 5px;
}